In [1]:
import pandas as pd
import os
import re

path = "resources/Tablas_elecciones_barrio/"
files = ""
tables = []

In [14]:
# Cargar los nombre de todos los archivos almacenados dentro de la carpeta "resources/Tablas_elecciones_barrio/"
for r, d, f in os.walk(path):
    files = f
# lectura y limpieza de las 21 tablas. Resultado: una lista de 21 tablas
for file in files:
    tmp_table = pd.read_excel(path + '{0}'.format(file), 
                              sep=";", encoding="ISO-8859-1")
    tmp_table.columns = [i.strip().replace(' ','_') for i in tmp_table.columns]
    tmp_table['Distrito'] = re.sub(" ", "", re.sub("^[0-9]+(\.)(\s)", "", tmp_table.Barrio[0].upper()))
#     print(re.sub(" ", "",re.sub("^[0-9]+(\.)(\s)", "", tmp_table.Barrio[0].upper())))
    tmp_table.drop([0,1], inplace=True) 
    for i in range(0, len(tmp_table.Barrio)):
        tmp_table.iloc[i,0] = re.sub("[0-9]+(\.)(\s)", "", str.strip(tmp_table.iloc[i,0].upper()))
    
    tables.append(tmp_table)

# Se concatenan las 21 tablas en una sola
main_table_elecciones = pd.concat(tables, sort=False)

# Se unifica el index para toda la tabla
main_table_elecciones.reset_index(drop=True, inplace=True)    
main_table_elecciones

,Barrio,Censo_electoral,Abstención,Votos_nulos,Votos_blancos,Total_votos_a_candidaturas,PACMA,PH,P.S.O.E.,P.P.,...,IU-MpM,MCE,VOX,UPyD,M.I.,P.C.P.E.,CNTG+,PCTE,PCAS-TC-PPCCAL-PACTO,Distrito
0,PALACIO,17.845,5.379,47.0,50.0,12.369,66.0,0.0,1.149,2.309,...,454.000,2.0,724.0,8.0,5.0,4.0,7.0,1.0,3.0,CENTRO
1,EMBAJADORES,31.496,10.829,56.0,94.0,20.517,107.0,6.0,2.073,2.548,...,1.443,4.0,949.0,11.0,12.0,10.0,28.0,6.0,14.0,CENTRO
2,CORTES,7.755,2.466,16.0,27.0,5.246,24.0,2.0,449.000,1.071,...,188.000,1.0,300.0,3.0,1.0,2.0,6.0,3.0,1.0,CENTRO
3,JUSTICIA,12.838,4.225,22.0,37.0,8.554,47.0,1.0,686.000,1.979,...,183.000,2.0,594.0,13.0,4.0,3.0,9.0,0.0,0.0,CENTRO
4,UNIVERSIDAD,23.738,7.683,48.0,56.0,15.951,78.0,3.0,1.428,2.784,...,527.000,2.0,822.0,11.0,4.0,6.0,19.0,5.0,6.0,CENTRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,ALAMEDA DE OSUNA,15.162,3.309,37.0,36.0,11.780,48.0,9.0,1.097,3.137,...,174.000,1.0,945.0,14.0,2.0,2.0,9.0,0.0,2.0,BARAJAS
258,AEROPUERTO,1.244,583.000,3.0,0.0,658.000,3.0,0.0,126.000,73.000,...,12.000,0.0,70.0,0.0,0.0,0.0,0.0,2.0,0.0,BARAJAS
259,CASCO HISTÓRICO DE BARAJAS,5.505,2.049,11.0,11.0,3.434,38.0,3.0,697.000,656.000,...,61.000,1.0,343.0,0.0,1.0,1.0,4.0,3.0,3.0,BARAJAS
260,TIMÓN,8.761,2.516,22.0,29.0,6.194,32.0,3.0,876.000,1.076,...,103.000,0.0,511.0,11.0,3.0,1.0,3.0,1.0,4.0,BARAJAS
261,CORRALEJOS,5.244,1.204,12.0,17.0,4.011,16.0,1.0,328.000,1.012,...,43.000,1.0,387.0,12.0,0.0,0.0,4.0,1.0,0.0,BARAJAS

In [3]:
import pandas as pd


# Cargar la tabla del Padron por barrios
padron = pd.read_excel("resources/padron_barrios.xls")

In [37]:
# Limpieza y organización de la tabla
tmp = []
separador_tabla = 0
for i in range(0, len(padron.Españoles_Hombres)):
    if pd.isna(padron.Españoles_Hombres[i]):
        dis_bar = padron.Edad[i].replace(" ", "").split("/")
        for j in  range(i+1, len(padron.Españoles_Hombres)):
            if pd.isna(padron.Españoles_Hombres[j]):
                tmp.append(padron.iloc[i:j,].copy(deep=True))
                tmp[separador_tabla].drop([i,i+1], inplace=True) 
                tmp[separador_tabla]['Distrito'] = dis_bar[0]
                tmp[separador_tabla]['Barrio'] = dis_bar[1].strip()
                break
        separador_tabla += 1

main_table_padron = pd.concat(tmp)
main_table_padron.Barrio = [str.strip(i) for i in main_table_padron.Barrio]
main_table_padron.reset_index(drop=True, inplace=True)
main_table_padron

,Edad,Españoles_Hombres,Españoles_Mujeres,Españoles_Total,Extranjeros_Hombres,Extranjeros_Mujeres,Extranjeros_Total,Total_Hombres,Total_Mujeres,Total,Distrito,Barrio
0,0 - 4,263.0,238.0,501.0,56.0,50.0,106.0,319.0,288.0,607.0,CENTRO,PALACIO
1,5 - 9,235.0,265.0,500.0,43.0,38.0,81.0,278.0,303.0,581.0,CENTRO,PALACIO
2,10 - 14,227.0,238.0,465.0,30.0,38.0,68.0,257.0,276.0,533.0,CENTRO,PALACIO
3,15 - 19,234.0,282.0,516.0,44.0,55.0,99.0,278.0,337.0,615.0,CENTRO,PALACIO
4,20 - 24,323.0,346.0,669.0,161.0,212.0,373.0,484.0,558.0,1042.0,CENTRO,PALACIO
...,...,...,...,...,...,...,...,...,...,...,...,...
2719,80 - 84,72.0,96.0,168.0,2.0,4.0,6.0,74.0,100.0,174.0,BARAJAS,TIMON
2720,85 - 89,47.0,91.0,138.0,1.0,3.0,4.0,48.0,94.0,142.0,BARAJAS,TIMON
2721,90 - 94,22.0,44.0,66.0,0.0,2.0,2.0,22.0,46.0,68.0,BARAJAS,TIMON
2722,95 - 99,7.0,9.0,16.0,0.0,1.0,1.0,7.0,10.0,17.0,BARAJAS,TIMON
2723,100 o más,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,BARAJAS,TIMON

In [45]:
#Estudio al rango de Edad. Se invierte la tabla. Pasando los rangos de edad a ser nombres de columnas junto con el barrio. 
#Cada uno de los rangos de edad tendrá asignado un valor (el número de personas en ese rango de edad).

edad_distrito = main_table_padron.drop(['Españoles_Hombres','Españoles_Mujeres',
                                        'Españoles_Total','Extranjeros_Hombres',
                                        'Extranjeros_Mujeres','Extranjeros_Total',
                                        'Total_Hombres','Total_Mujeres', 'Barrio'], axis=1)
edad_distrito

           Edad   Total Distrito
0         0 - 4   607.0   CENTRO
1         5 - 9   581.0   CENTRO
2       10 - 14   533.0   CENTRO
3       15 - 19   615.0   CENTRO
4       20 - 24  1042.0   CENTRO
...         ...     ...      ...
2719    80 - 84   174.0  BARAJAS
2720    85 - 89   142.0  BARAJAS
2721    90 - 94    68.0  BARAJAS
2722    95 - 99    17.0  BARAJAS
2723  100 o más     1.0  BARAJAS

[2724 rows x 3 columns]

In [50]:
Rango_edad = edad_distrito.pivot_table(index=['Distrito'], columns='Edad',values='Total')

Rango_edad

Edad,0 - 4,10 - 14,100 o más,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,...,50 - 54,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85 - 89,90 - 94,95 - 99
Distrito,,,,,,,,,,,,,,,,,,,,,
ARGANZUELA,882.571429,819.714286,12.000000,866.142857,986.714286,1448.142857,1705.000000,1909.571429,1863.857143,1701.857143,...,1717.571429,1657.000000,1493.000000,1185.142857,984.428571,758.428571,570.571429,501.142857,264.285714,82.428571
BARAJAS,524.250000,568.000000,3.666667,505.250000,467.250000,511.500000,644.250000,842.500000,977.500000,910.250000,...,771.500000,674.000000,542.750000,530.250000,586.000000,433.000000,246.500000,166.500000,63.000000,24.250000
CARABANCHEL,1514.285714,1808.285714,13.285714,1693.142857,2035.142857,2434.857143,2484.714286,2725.571429,3157.000000,3226.000000,...,2867.857143,2452.428571,1929.285714,1529.285714,1503.142857,1369.428571,1153.142857,942.857143,418.000000,102.714286
CENTRO,620.666667,535.000000,12.833333,570.333333,1072.666667,2307.833333,2640.333333,2505.166667,2315.833333,1966.833333,...,1743.333333,1567.000000,1298.166667,976.000000,824.500000,656.166667,482.666667,435.500000,231.166667,67.333333
CHAMARTIN,1114.833333,1009.333333,18.166667,962.833333,1119.166667,1588.333333,1810.166667,1796.833333,1808.666667,1740.666667,...,1653.500000,1670.333333,1535.666667,1333.333333,1293.166667,1099.000000,816.666667,709.000000,374.000000,118.333333
CHAMBERI,826.833333,746.333333,28.166667,824.333333,1114.166667,1973.666667,2017.166667,1784.666667,1692.166667,1537.833333,...,1513.333333,1542.500000,1490.000000,1335.500000,1250.666667,1055.333333,765.333333,707.500000,405.833333,137.000000
CIUDADLINEAL,896.000000,1008.888889,13.111111,1093.777778,1241.000000,1573.444444,1626.777778,1701.333333,1801.666667,1803.666667,...,1867.888889,1797.222222,1513.777778,1202.333333,1181.555556,1056.222222,895.111111,785.000000,343.777778,83.555556
FUENCARRAL-ELPARDO,1690.125000,1670.500000,12.875000,1382.625000,1349.125000,1565.250000,1885.875000,2334.000000,2781.250000,2521.000000,...,2049.625000,1871.125000,1712.750000,1595.875000,1676.000000,1321.875000,909.125000,646.750000,295.625000,79.125000
HORTALEZA,1706.166667,1756.833333,11.000000,1589.333333,1454.666667,1608.666667,1930.333333,2449.166667,2857.000000,2747.500000,...,2364.000000,2172.333333,1724.666667,1416.333333,1470.166667,1261.000000,850.333333,641.833333,262.333333,72.000000
LATINA,1237.428571,1393.285714,17.428571,1442.714286,1774.000000,2108.857143,2206.714286,2393.714286,2620.571429,2656.000000,...,2634.285714,2332.428571,1965.571429,1573.000000,1819.000000,1965.571429,1487.714286,1052.714286,436.857143,112.714286
MONCLOA-ARAVACA,703.714286,816.142857,13.142857,896.857143,976.428571,1102.428571,1020.285714,1142.428571,1241.857143,1264.714286,...,1313.714286,1236.857143,1076.000000,903.571429,879.000000,709.285714,549.285714,450.000000,238.000000,70.571429
MORATALAZ,517.666667,636.166667,6.833333,733.500000,888.833333,945.500000,879.000000,926.666667,989.000000,1143.833333,...,1303.500000,1272.666667,1019.166667,818.166667,827.666667,870.000000,778.833333,588.000000,224.666667,48.500000
PUENTEDEVALLECAS,1662.166667,1776.833333,10.333333,1949.833333,2437.666667,2869.666667,2837.000000,2948.166667,3081.000000,3038.166667,...,3233.500000,3081.166667,2412.000000,1645.166667,1452.166667,1257.166667,1184.166667,1015.833333,429.833333,91.666667
RETIRO,767.333333,768.833333,15.166667,760.166667,865.000000,1197.500000,1285.000000,1411.000000,1482.333333,1423.500000,...,1384.000000,1384.833333,1365.166667,1263.333333,1208.500000,1004.833333,727.666667,597.833333,317.833333,90.500000
SALAMANCA,906.833333,815.666667,22.500000,921.000000,1272.333333,1958.833333,1955.500000,1772.000000,1757.166667,1631.666667,...,1670.166667,1705.833333,1565.833333,1365.166667,1266.666667,1115.000000,834.166667,748.166667,418.000000,130.833333
SANBLAS-CANILLEJAS,788.125000,1091.750000,4.875000,1165.500000,1071.875000,1171.750000,1222.250000,1331.625000,1536.500000,1724.750000,...,1845.000000,1605.625000,1173.250000,826.750000,714.500000,594.750000,582.625000,523.875000,229.250000,50.000000
TETUAN,1048.000000,908.500000,11.666667,1032.833333,1378.333333,2262.666667,2452.666667,2371.666667,2158.166667,1970.500000,...,1900.666667,1773.833333,1574.000000,1212.666667,1070.166667,942.333333,748.500000,698.500000,370.666667,96.500000
USERA,865.285714,1061.428571,7.285714,1067.857143,1214.571429,1335.000000,1338.142857,1498.857143,1733.000000,1799.000000,...,1612.000000,1385.142857,1061.428571,763.571429,700.000000,608.285714,578.428571,518.000000,208.714286,51.571429
VICALVARO,758.500000,1287.500000,6.500000,1098.250000,1037.250000,960.750000,953.750000,1154.500000,1629.250000,1995.000000,...,1724.750000,1340.000000,854.000000,570.750000,578.250000,620.250000,473.500000,304.000000,107.000000,26.666667
VILLADEVALLECAS,2428.333333,1974.666667,4.666667,1685.000000,1745.000000,2288.000000,2867.333333,3629.666667,4307.666667,3246.000000,...,2551.333333,2286.333333,1768.666667,1385.333333,1197.333333,824.666667,658.666667,486.000000,199.333333,54.666667
VILLAVERDE,1428.000000,1710.800000,6.000000,1597.200000,1745.200000,1958.200000,2003.000000,2141.000000,2545.400000,2641.200000,...,2496.800000,2135.800000,1535.600000,1098.000000,1103.200000,1056.000000,954.600000,721.000000,259.000000,50.800000

In [47]:
main_table_edad = Rango_edad.rename(columns = {'0 - 4':'Edad (0 - 4)', 
                                               '5 - 9': 'Edad (5 - 9)',
                                               '10 - 14':'Edad (10 - 14)', 
                                               '15 - 19':'Edad (15 - 19)', 
                                               '20 - 24':'Edad (20 - 24)', 
                                               '25 - 29':'Edad (25 - 29)', 
                                               '30 - 34':'Edad (30 - 34)',
                                               '35 - 39':'Edad (35 - 39)', 
                                               '40 - 44':'Edad (40 - 44)', 
                                               '45 - 49':'Edad (45 - 49)', 
                                               '50 - 54':'Edad (50 - 54)', 
                                               '55 - 59':'Edad (55 - 59)', 
                                               '60 - 64':'Edad (60 - 64)', 
                                               '65 - 69':'Edad (65 - 69)', 
                                               '70 - 74':'Edad (70 - 74)', 
                                               '75 - 79':'Edad (75 - 79)', 
                                               '80 - 84':'Edad (80 - 84)', 
                                               '85 - 89':'Edad (85 - 89)', 
                                               '90 - 94':'Edad (90 - 94)', 
                                               '95 - 99':'Edad (95 - 99)', 
                                               '100 o más':'Edad (+100)'})
#Eliminamos aquellas columnas que no necesitamos, ya que sus rangos de edad no pueden votar en su totalidad.
main_table_edad = main_table_edad.drop(['Edad (0 - 4)', 'Edad (5 - 9)', 'Edad (10 - 14)', 'Edad (15 - 19)'], axis=1)
main_table_edad

Edad,Edad (+100),Edad (20 - 24),Edad (25 - 29),Edad (30 - 34),Edad (35 - 39),Edad (40 - 44),Edad (45 - 49),Edad (50 - 54),Edad (55 - 59),Edad (60 - 64),Edad (65 - 69),Edad (70 - 74),Edad (75 - 79),Edad (80 - 84),Edad (85 - 89),Edad (90 - 94),Edad (95 - 99)
Distrito,,,,,,,,,,,,,,,,,
ARGANZUELA,12.000000,986.714286,1448.142857,1705.000000,1909.571429,1863.857143,1701.857143,1717.571429,1657.000000,1493.000000,1185.142857,984.428571,758.428571,570.571429,501.142857,264.285714,82.428571
BARAJAS,3.666667,467.250000,511.500000,644.250000,842.500000,977.500000,910.250000,771.500000,674.000000,542.750000,530.250000,586.000000,433.000000,246.500000,166.500000,63.000000,24.250000
CARABANCHEL,13.285714,2035.142857,2434.857143,2484.714286,2725.571429,3157.000000,3226.000000,2867.857143,2452.428571,1929.285714,1529.285714,1503.142857,1369.428571,1153.142857,942.857143,418.000000,102.714286
CENTRO,12.833333,1072.666667,2307.833333,2640.333333,2505.166667,2315.833333,1966.833333,1743.333333,1567.000000,1298.166667,976.000000,824.500000,656.166667,482.666667,435.500000,231.166667,67.333333
CHAMARTIN,18.166667,1119.166667,1588.333333,1810.166667,1796.833333,1808.666667,1740.666667,1653.500000,1670.333333,1535.666667,1333.333333,1293.166667,1099.000000,816.666667,709.000000,374.000000,118.333333
CHAMBERI,28.166667,1114.166667,1973.666667,2017.166667,1784.666667,1692.166667,1537.833333,1513.333333,1542.500000,1490.000000,1335.500000,1250.666667,1055.333333,765.333333,707.500000,405.833333,137.000000
CIUDADLINEAL,13.111111,1241.000000,1573.444444,1626.777778,1701.333333,1801.666667,1803.666667,1867.888889,1797.222222,1513.777778,1202.333333,1181.555556,1056.222222,895.111111,785.000000,343.777778,83.555556
FUENCARRAL-ELPARDO,12.875000,1349.125000,1565.250000,1885.875000,2334.000000,2781.250000,2521.000000,2049.625000,1871.125000,1712.750000,1595.875000,1676.000000,1321.875000,909.125000,646.750000,295.625000,79.125000
HORTALEZA,11.000000,1454.666667,1608.666667,1930.333333,2449.166667,2857.000000,2747.500000,2364.000000,2172.333333,1724.666667,1416.333333,1470.166667,1261.000000,850.333333,641.833333,262.333333,72.000000
LATINA,17.428571,1774.000000,2108.857143,2206.714286,2393.714286,2620.571429,2656.000000,2634.285714,2332.428571,1965.571429,1573.000000,1819.000000,1965.571429,1487.714286,1052.714286,436.857143,112.714286
MONCLOA-ARAVACA,13.142857,976.428571,1102.428571,1020.285714,1142.428571,1241.857143,1264.714286,1313.714286,1236.857143,1076.000000,903.571429,879.000000,709.285714,549.285714,450.000000,238.000000,70.571429
MORATALAZ,6.833333,888.833333,945.500000,879.000000,926.666667,989.000000,1143.833333,1303.500000,1272.666667,1019.166667,818.166667,827.666667,870.000000,778.833333,588.000000,224.666667,48.500000
PUENTEDEVALLECAS,10.333333,2437.666667,2869.666667,2837.000000,2948.166667,3081.000000,3038.166667,3233.500000,3081.166667,2412.000000,1645.166667,1452.166667,1257.166667,1184.166667,1015.833333,429.833333,91.666667
RETIRO,15.166667,865.000000,1197.500000,1285.000000,1411.000000,1482.333333,1423.500000,1384.000000,1384.833333,1365.166667,1263.333333,1208.500000,1004.833333,727.666667,597.833333,317.833333,90.500000
SALAMANCA,22.500000,1272.333333,1958.833333,1955.500000,1772.000000,1757.166667,1631.666667,1670.166667,1705.833333,1565.833333,1365.166667,1266.666667,1115.000000,834.166667,748.166667,418.000000,130.833333
SANBLAS-CANILLEJAS,4.875000,1071.875000,1171.750000,1222.250000,1331.625000,1536.500000,1724.750000,1845.000000,1605.625000,1173.250000,826.750000,714.500000,594.750000,582.625000,523.875000,229.250000,50.000000
TETUAN,11.666667,1378.333333,2262.666667,2452.666667,2371.666667,2158.166667,1970.500000,1900.666667,1773.833333,1574.000000,1212.666667,1070.166667,942.333333,748.500000,698.500000,370.666667,96.500000
USERA,7.285714,1214.571429,1335.000000,1338.142857,1498.857143,1733.000000,1799.000000,1612.000000,1385.142857,1061.428571,763.571429,700.000000,608.285714,578.428571,518.000000,208.714286,51.571429
VICALVARO,6.500000,1037.250000,960.750000,953.750000,1154.500000,1629.250000,1995.000000,1724.750000,1340.000000,854.000000,570.750000,578.250000,620.250000,473.500000,304.000000,107.000000,26.666667
VILLADEVALLECAS,4.666667,1745.000000,2288.000000,2867.333333,3629.666667,4307.666667,3246.000000,2551.333333,2286.333333,1768.666667,1385.333333,1197.333333,824.666667,658.666667,486.000000,199.333333,54.666667
VILLAVERDE,6.000000,1745.200000,1958.200000,2003.000000,2141.000000,2545.400000,2641.200000,2496.800000,2135.800000,1535.600000,1098.000000,1103.200000,1056.000000,954.600000,721.000000,259.000000,50.800000

In [51]:
edad_votos = pd.merge(main_table_edad, main_table_elecciones, left_on='Distrito', right_on='Distrito', how='outer')

edad_votos

,Distrito,Edad (+100),Edad (20 - 24),Edad (25 - 29),Edad (30 - 34),Edad (35 - 39),Edad (40 - 44),Edad (45 - 49),Edad (50 - 54),Edad (55 - 59),...,MAS_MADRID,IU-MpM,MCE,VOX,UPyD,M.I.,P.C.P.E.,CNTG+,PCTE,PCAS-TC-PPCCAL-PACTO
0,ARGANZUELA,12.0,986.714286,1448.142857,1705.0,1909.571429,1863.857143,1701.857143,1717.571429,1657.0,...,5.309,368.0,1.0,1.005,13.0,4.0,6.0,18.0,3.0,9.0
1,ARGANZUELA,12.0,986.714286,1448.142857,1705.0,1909.571429,1863.857143,1701.857143,1717.571429,1657.0,...,9.079,667.0,4.0,1.407,19.0,5.0,4.0,18.0,3.0,10.0
2,ARGANZUELA,12.0,986.714286,1448.142857,1705.0,1909.571429,1863.857143,1701.857143,1717.571429,1657.0,...,4.303,394.0,0.0,623.000,10.0,3.0,4.0,17.0,2.0,10.0
3,ARGANZUELA,12.0,986.714286,1448.142857,1705.0,1909.571429,1863.857143,1701.857143,1717.571429,1657.0,...,4.400,249.0,2.0,739.000,13.0,10.0,4.0,12.0,5.0,5.0
4,ARGANZUELA,12.0,986.714286,1448.142857,1705.0,1909.571429,1863.857143,1701.857143,1717.571429,1657.0,...,5.911,450.0,4.0,1.048,14.0,4.0,6.0,6.0,7.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,VILLAVERDE,6.0,1745.200000,1958.200000,2003.0,2141.000000,2545.400000,2641.200000,2496.800000,2135.8,...,5.534,654.0,6.0,1.155,22.0,13.0,21.0,25.0,15.0,26.0
258,VILLAVERDE,6.0,1745.200000,1958.200000,2003.0,2141.000000,2545.400000,2641.200000,2496.800000,2135.8,...,1.086,148.0,0.0,214.000,4.0,8.0,4.0,6.0,3.0,23.0
259,VILLAVERDE,6.0,1745.200000,1958.200000,2003.0,2141.000000,2545.400000,2641.200000,2496.800000,2135.8,...,3.018,271.0,1.0,547.000,10.0,2.0,8.0,12.0,5.0,7.0
260,VILLAVERDE,6.0,1745.200000,1958.200000,2003.0,2141.000000,2545.400000,2641.200000,2496.800000,2135.8,...,5.571,467.0,0.0,951.000,13.0,9.0,8.0,10.0,13.0,34.0
261,VILLAVERDE,6.0,1745.200000,1958.200000,2003.0,2141.000000,2545.400000,2641.200000,2496.800000,2135.8,...,4.841,473.0,1.0,1.031,13.0,6.0,4.0,10.0,8.0,27.0